form {
  display: flex;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.label-wrapper label {
  margin-bottom: 5px;
  margin-right: 50px;
}

.label-wrapper select {
  appearance: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  margin-top: 15px;
  padding: 5px;
  width: 100%;
}

.label-wrapper select option {
  background: #222;
  color: white;
}

.label-wrapper input {
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  line-height: 1.5;
  padding: 10px;
}
