.filter-wrappers {
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 45px;
}

.numbers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px;
}
